.noter {
    max-width: 600px;
    width: 90%;
    height: 590px;

    position: absolute;
    top: 630px;
    right: 35px;

    background-color: var(--dinamic-item);
    border-radius: 5px;
    transition: .2s;
    opacity: .5;
    pointer-events: none;
}

.noter.show {
    top: 40px;
    opacity: 1;
    pointer-events: all;
    box-shadow: 5px 5px 10px black;
}

@media screen and (max-width: 992px) {
    .noter {
        margin: auto;
        position: relative;
        left: 0;
        visibility: hidden;
    }
    .noter.show {
        top: -350px;
        visibility: visible;
    }
}
@media screen and (max-width: 576px) {
    .noter.show {
        top: -250px;
    }
}

.noter_buttons {
    width: auto;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 0;

    display: flex;
    justify-content: space-between;
}

.noter_buttons button {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.noter_buttons img {
    width: 18px;
    height: 18px;
    pointer-events: none;
}

.noter_buttons__done {
    margin-right: 5px;
}
