#reader_default {
	width: 465px;
	height: 420px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	background-color: darkgrey;
}

#reader_default__title h3,  #reader_default__title p {
	font-size: 40px;
	text-align: center;
}

#reader_default__buttons {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#reader_default__buttons button {
	width: 170px;
	height: 130px;

	font-size: 20px;
	border: none;
	border-radius: 10px;
}
