#note_taker {
	width: 465px;
	height: 590px;
	padding: 15px;

	display: flex;
	flex-direction: column; 
	align-content: center;
	justify-content: start;

	background-color: darkgrey;
}

#note_taker__title {
	height: 40px;
	padding: 10px;
	margin-bottom: 15px;
}

#note_taker__textarea {
	height: 70%;
	padding: 10px;
	margin-bottom: 30px;

	resize: none;
}

#note_taker__buttons {
	display: flex;
	justify-content: space-between;
}

#note_taker__buttons button {
	width: 150px;
	height: 40px;
	font-size: 18px;
}
