.note_unit {
	width: 100%;
	height: 40px;
	padding: 0 10px;

	display: flex;
	justify-content: space-between; 
	align-items: center;

	border-bottom: 2px solid black;
	background-color: #502177;
	transition: .2s;
}

.note_unit:hover {
	background-color: #683890;
}

.note_unit__id, .note_unit__title, .note_unit__date {
	pointer-events: none;
}


