:root {
	/*Color palette*/
	--main-bg-color: #1f1f28;
	--field-bg-color: #7e7e80;
	--dinamic-item: #e9e9e9;
	--dinamic-item-hover: #f9f9f9;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', 'Arial';
	font-size: 14px;
}

body {
	margin: 15px;
	background-color: var(--main-bg-color);
	overflow: hidden;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fields {
    max-width: 800px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_fields {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: transparent;
    pointer-events: none;
    transition: .2s;
    z-index: 999;
}

.modal_fields.active {
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: all;
}
