:root {
	--main-bg-color: #28273E;
	--field-bg-color: #1D1C28;
	--modal-field-color: #868483;
	--dinamic-item: #C4C4C4;
	--dinamic-item-hover: #f7f7f7;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', 'Arial';
	font-size: 14px;
}

body {
	margin: 15px;
	background-color: var(--main-bg-color);
	overflow: hidden;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
}