:root {
	/*Color palette*/
	--main-bg-color: #0c0c13;
	--field-bg-color: #242433;
	--dinamic-item: #d8d8d8;
	--dinamic-item-hover: #f7f7f7;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', 'Arial';
	font-size: 14px;
}

body {
	margin: 15px;
	background-color: var(--main-bg-color);
	overflow: hidden;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
}